body { background: #FFF; font: 1.2em/1.4em Faustina, serif; margin: 0; }
h1, h2, h3 { color: #036; font-family: Ruthie, cursive; font-weight: normal; }

body > header {}
body > header a { color: #036; text-decoration: none; }
body > header nav a { display: inline-block; padding: 0.5em; }
body > footer { background: #111; color: #FFF; padding: 1em; }
body > article { width: 40em; }
