<!DOCTYPE html>
<html>
  <head>
    <title>{{ site.title }}</title>
    <meta http-equiv="Content-Type" content="text/html; utf-8"/>
    <meta name="description" content="Home page of Lina Chesak-Liberace Illustration. Shows portfolio of her editorial, children's book and map images. Also illustrated and signed Humpty Dumpty clocks for sale."/>
    <meta name="keywords" content="Lina Chesak, Lina Liberace, humpty dumpty clocks, Lina Chesak-Liberace, children's book illustraton, portfolio"/>
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab|Faustina" rel="stylesheet">
    <script src="/script.js"></script>
  </head>
  <body>
    <header>
      <h1><a href="/">{{ site.title }}</h1>
      <p class="subtitle">formerly Lina Chesak Illustration</p>
      <nav>
	<a href="/">Home</a>
	<a href="/editorial">Editorial/Illustration</a>
	<a href="/childrens_books">Children's Book</a>
	<a href="/maps">Stylized Maps</a>
	<a href="/still_life">Still Life</a>
	<a href="/clocks">Humpty Dumpty Clocks</a>
	<a href="/bio">Artist Contact/Bio</a>
	<a href="/sculpture">Sculpture</a>
      </nav>
    </header>
    <article>
      <h2>{{ page.title }}</h2>
      {{ content }}
    </article>
    <footer>
      <p class="copyright">Copyright &copy; 2017 Lina Liberace. All Rights Reserved</p>
    </footer>
  </body>
</html>
